@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Inter:wght@200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,400&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Poppins:wght@300&display=swap');

*{
    font-family: 'Inter', sans-serif;
}
#frame100{
    max-width: 840px;
}

.text{
    width: 73%;
    height: 329px;
}

.list > *{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-left: 20px;
}