.frame89{
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: calc((1140/1440)*100vw);
    min-height: 420px;
    top: 207px;
    justify-content: space-between;
}

.frame89 .text{
    display: flex;
    justify-content: center;
    align-items:start;
    flex-direction: column;

    gap: 12px;

    max-width: 642px;

    margin-top: 40px;
}

.frame89 .text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.14px;
}

.frame89 .btn{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 166px;
    height: 62px;

    background-color: black;
    border-radius: 50px;
    color: white;

    gap: 12px;

    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;

    text-decoration: none;
}

.frame89 .btn:hover{
    background-color: rgb(141, 141, 141);
    color: black;
    transform: scale(1.1);
    transition: all 0.3s ease;
    fill: black;
}
.frame89 .image{
    max-width: 310px;
}
.frame89 .image img{
    max-width: 100%;
    border-radius: 100%;
    animation: rot 20s infinite ease-in-out;
}

@keyframes rot{
    0%{
        transform: rotate(360deg);
    }
 
    50%{
        transform: rotate(-360deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 870px){
    .frame89{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        width: 90%;
    }
    .frame89 .text{
        width: 100%;
        height: fit-content;

        align-items: center;
        justify-content: center;

        gap:2vh;
    }

    .image{
        width: 100%;
        height: fit-content;
        margin: 10vh 0;
    }
}